 <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/admin/index"><img src="/images/logo.png" alt="Logo"></a>
                <a class="navbar-brand hidden" href="/admin/index"><img src="/images/logo2.png" alt="Logo"></a>
            </div>
            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/admin/index"> <i class="menu-icon fa fa-dashboard"></i>Dashboard </a>
                    </li>
                    <h3 class="menu-title">Quản lý danh mục</h3><!-- /.menu-title -->     
                    <li><a href="/admin/category/categorytype"> <i class="menu-icon fa fa-bars"></i>Kiểu danh mục </a></li>                   
                    <li><a href="/admin/category/Index"> <i class="menu-icon fa fa-tasks"></i>Tất cả danh mục</a></li>
                    <li><a href="/admin/menu/Index"> <i class="menu-icon fa fa-sitemap"></i>Quản lý Menu</a></li>
                    <h3 class="menu-title">Danh sách các danh mục</h3><!-- /.menu-title --> 
                    <% categoriesTypeLocal.forEach(item => { %>

                        <li class="menu-item-has-children dropdown show">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> <i class="menu-icon fa fa-folder"></i><%= item.typeName %></a>
                            <ul class="sub-menu children dropdown-menu show">
                                <li><i class="menu-icon fa fa-tasks"></i><a href="/admin/category/TypeIndex/<%= item._id %>">Danh mục</a></li>
                                <% if(item.typeInt === 1){ %>
                                    <li><i class="menu-icon fa fa-hdd-o"></i><a href="/admin/product/index"><%= item.typeName %></a></li>
                                <% } %>
                                <% if(item.typeInt === 3){ %>
                                    <li> <i class="menu-icon fa fa-file-text"></i><a href="/admin/news/index"><%= item.typeName %></a></li>
                                <% } %>
                            </ul>
                        </li>                       
                    <% }) %>
                    <li><a href="/admin/user/list"> <i class="menu-icon fa fa-user"></i>Danh sách users </a></li>
                    <!-- <li class="menu-item-has-children dropdown show">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> <i class="menu-icon fa fa-glass"></i>Pages</a>
                        <ul class="sub-menu children dropdown-menu show">
                            <li><i class="menu-icon fa fa-sign-in"></i><a href="page-login.html">Login</a></li>
                            <li><i class="menu-icon fa fa-sign-in"></i><a href="page-register.html">Register</a></li>
                            <li><i class="menu-icon fa fa-paper-plane"></i><a href="pages-forget.html">Forget Pass</a></li>
                        </ul>
                    </li> -->
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside>