<% if (items.length) { %>
    
    <% items.forEach(function(item){ %>    
    <% var space = "";
     for(var j = 1 ;j< item.level; j++ ){
            space = space + "--";
    } %><option value="<%= item._id %>" <% if(item._id.equals(id_check)){ %> selected="selected" <%}%> <% if(item._id.equals(this_Id)){ %> disabled="disabled" <%}%> ><%= space %> <%= item.categoryName %></option>
        <%- include('dropdowTree', {items: item.children, id_check, this_Id }) %> 
    <% }) %>


<% } %>