
<% if(items.length){ 
    items.forEach(function(item){
    var space = "";
    for(var j = 1 ;j< level; j++ ){
            space = space + "--";
    } %>
        <option value="<%= item._id %>"><%= space %><%= item.categoryName %></option>
        <% if(item.children){ %>
        <%- include('dropallTree', {items: item.children, level: level +1 }) %> 
        <% } %>

   <% })
} %>

