<!DOCTYPE html>
<html>
  <head>
    <% include ../../partials/backend/partialLink %> 
    <% include ../../partials/backend/partialCsript %>
    
  </head>
  <body> 
<% include ../../partials/backend/aside %> 
<div id="right-panel" class="right-panel">
<% include ../../partials/backend/header %>

<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Thêm mới danh mục</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="index">Trang chủ</a></li>                  
                    <li class="active">Thêm mới danh mục</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="content mt-3">
    <div class="animated fadeIn">
         <div class="card">
                    <div class="card-header">
                <strong>Thêm mới danh mục</strong> 
            </div>
            <div class="card-body card-block">
            <% include ../../partials/backend/messages %>                       
                <form action="/admin/category/add" method="post" enctype="multipart/form-data" class="form-horizontal form-validate" id="ud">                    
                    <div class="row form-group">
                        <div class="col col-md-3"><label for="categoryType" class="form-control-label">Chọn chủng loại :</label></div>
                        <div class="col-12 col-md-9 mserro">
                        <select name="categoryType" id="categoryType" class="standardSelect form-control" data-rule-required="true">
                        <% listType.forEach(item => { %>
                         <option value="<%= item._id %>"><%= item.typeName %></option>
                        <% }) %>                            
                        <select>
                        </div>
                    </div>  
                    <div class="row form-group">
                        <div class="col col-md-3"><label for="parent" class="form-control-label">Chọn mục cha :</label></div>
                        <div class="col-12 col-md-9 mserro">
                        <select name="parent" id="parent" class="form-control" data-placeholder="Chọn mục cha...">

                        <select>
                        </div>
                    </div>  
                    <div class="row form-group">
                        <div class="col col-md-3"><label class="form-control-label">Tên danh mục :</label></div>
                        <div class="col-12 col-md-9 mserro"><input type="text" id="categoryName" name="categoryName" placeholder="Nhập tên danh mục" class="form-control" data-rule-required="true"></div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3"><label class=" form-control-label">Tên Alias:</label></div>
                        <div class="col-12 col-md-9 mserro"><input type="text" id="categoryKey" name="categoryKey" placeholder="Nhập tên Alias" class="form-control"  data-rule-required="true"></div>
                    </div>                  
                    
                    <div class="row form-group">
                        <div class="col col-md-3"><label class=" form-control-label">Meta Tile:</label></div>
                        <div class="col-12 col-md-9 mserro"><input type="text" id="metaTile" name="metaTile" placeholder="Nhập tên hiển thị cho Title" class="form-control"  data-rule-required="true"></div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3"><label class=" form-control-label">Meta Keyword:</label></div>
                        <div class="col-12 col-md-9 mserro"><input type="text" id="metakeyword" name="metakeyword" placeholder="Nhập keyword" class="form-control"  data-rule-required="true"></div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3"><label class=" form-control-label">Meta Description:</label></div>
                        <div class="col-12 col-md-9 mserro"><textarea  id="metaDescription" name="metaDescription" placeholder="Nhập Description" class="form-control"  data-rule-required="true" rows="2"></textarea></div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3"><label class=" form-control-label">Cỡ trang:</label></div>
                        <div class="col-12 col-md-9 mserro"><input type="text" id="pageNumber" name="pageNumber" placeholder="Nhập số lượng bản ghi hiển thị trên 1 trang" class="form-control"  data-rule-required="true"  data-rule-number="true"></div>
                    </div>

                     <div class="row form-group">
                        <div class="col col-md-3"><label class=" form-control-label">Thứ tự</label></div>
                        <div class="col-12 col-md-9 mserro"><input type="text" id="order" name="order" placeholder="Nhập thứ tự của danh mục" class="form-control" data-rule-required="true" data-rule-number="true"></div>
                    </div>                    
                    <div class="row form-group">
                            <div class="col col-md-3"><label for="fileImg" class=" form-control-label">Chọn ảnh</label></div>
                            <div class="col-12 col-md-9 mserro"><input type="file" id="fileImg" name="fileImg" class="form-control-file" accept="image/*"></div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-3"><label class=" form-control-label">Mô tả ngắn:</label></div>
                        <div class="col-12 col-md-9 mserro"><textarea id="preview" name="preview"  placeholder="Nhập mô tả ngắn" class="form-control" rows="3"></textarea></div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3"><label class=" form-control-label">Chi tiết:</label></div>
                        <div class="col-12 col-md-9 mserro"><textarea id="detail" name="detail" placeholder="Nhập chi tiết" class="form-control" rows="4"></textarea></div>
                    </div>                   

                    <div class="row form-group">
                        <div class="col col-md-3"> &nbsp; </div>
                            <div class="col col-md-9">
                                <div class="form-check">
                                    <div class="checkbox">
                                        <label for="chkActive" class="form-check-label ">
                                            <input type="checkbox" id="chkActive" name="chkActive" class="form-check-input"> Active
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label for="chkHome" class="form-check-label ">
                                            <input type="checkbox" id="chkHome" name="chkHome" class="form-check-input"> home
                                        </label>
                                    </div>                                   
                                </div>
                            </div>
                        </div>
                         <div class="row form-group">
                        <div class="col col-md-3">&nbsp;</div>
                        <div class="col-12 col-md-9"><button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-plus-square-o"></i> Thêm mới</button>
                        <a href="/admin/category/Index" class="btn btn-danger btn-sm"><i class="fa fa-reply"></i> Quay lại</a> </div>
                    </div> 
                    
                </form>
            </div>            
        </div>
    </div>
</div>

</div>
<script>
jQuery(document).ready(function($) {

    $.ajax({
        type: "GET",
        async: true,        
        url: "/api/category/getparent/"+$("#categoryType option:selected").val(),        
        cache: false,
        dataType: "json",
        success: function (done) {
           // console.log(done);          
            if(done.status){
                 if(done.status){ 
                    $("#parent").html(listCate(done.data, true, 1));      
                }     
            }
        }
    });

    $("#categoryName").bind("keyup", function (e) {
        var catetext = $(this).val();
        $('#categoryKey').val(getSeoTitle(catetext));
        $('#metaTile').val(catetext);
    });

    $('#categoryType').on('change', function() {
        $.ajax({
            type: "GET",
            async: true,        
            url: "/api/category/getparent/"+$("#categoryType option:selected").val(),        
            cache: false,
            dataType: "json",
            success: function (done) {                
                if(done.status){ 
                    $("#parent").html(listCate(done.data, true, 1));      
                }
            }
        });

    });

});

function listCate(list, isChild, level){   
    var html;
    if(isChild){
         html ='<option value="">Root</option>';
    }
    list.forEach(function(item){
        var space = "";
        for(var j = 1 ;j< level; j++ ){
            space = space + "--";
        }        
        html +='<option value="'+item._id+'">'+space+item.categoryName+'</option>';
        if(item.children.length > 0 ){
           html += listCate(item.children, false, level + 1);           
        }
    })  
    return html;
}

</script>


</body>
</html>