<!DOCTYPE html>
<html>
  <head>
    <% include ../../partials/backend/partialLink %> 
    <% include ../../partials/backend/partialCsript %>
  </head>
  <body> 
<% include ../../partials/backend/aside %> 
<div id="right-panel" class="right-panel">
<% include ../../partials/backend/header %>

<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Danh sách danh mục</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="index">Trang chủ</a></li>                  
                    <li class="active">Danh sách danh mục </li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="content mt-3">
    <div class="animated fadeIn">
            
         <div class="card">
                    <div class="card-header">
                        <div class="col col-md-6">
                            <form action="/admin/category/searchType/<%= typeId %>" method="POST" class="form-horizontal">
                                <div class="input-group">
                                    <input type="text" class="form-control col-md-6"  name="textsearch" id="textsearch" placeholder="Nhập từ khóa tìm kiếm...">
                                        <span class="input-group-btn">
                                        <button class="btn btn-info" type="submit"><i class="fa fa-search fa-fw"></i> Tìm kiếm</button>
                                        </span>
                                </div>
                            </form>                        
                        </div>
                        <form action="/admin/category/TypeIndex/<%= typeId %>" method="POST" class="form-horizontal" onSubmit="if(!confirm('Bạn có muốn xóa không?')){return false;}">
                        <div class="col-12 col-md-6">
                            <div class="float-right mt-2">
                                <a href="/admin/category/add/" class="btn btn-success btn-sm" style="color: #fff;">
                                    <i class="fa fa-plus"></i> Thêm mới
                                </a>
                                <button type="button" class="btn btn-primary btn-sm" id="bntUpdateOrder">
                                    <i class="fa fa-refresh"></i> Cập nhật thứ tự
                                </button>                                 
                                <button type="submit" class="btn btn-danger btn-sm" id="bntdeleteList" disabled>
                                    <i class="fa fa-trash-o"></i> Xóa danh mục
                            </button>        
                               
                            </div>
                        </div>
                        
                    </div>
                    <div class="card-body">
                     
                            <% include ../../partials/backend/messages %>                       
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col"><input type="checkbox" id="checkAll"></th>
                                        <th scope="col">Tên danh mục</th>
                                        <th scope="col">Ảnh</th>
                                        <th scope="col">Thể loại</th>                                      
                                        <th scope="col">Active</th>  
                                         <th scope="col">Home</th>                                 
                                        <th scope="col">Thứ tự</th>
                                        <th scope="col">Người tạo</th>                                   
                                        <th scope="col">Ngày tạo</th>
                                        <th scope="col">người sửa</th>
                                        <th scope="col">Ngày sửa</th>                                    
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <%- include('../../partials/backend/treeViewHtml', {items: data, level: 1}) %>               
                                </tbody>
                            </table>                                              

                    </div>
                </form>
            </div>            
        </div>
    </div>
</div>

</div>

<script>   

jQuery(document).ready(function($) {    

    $('#bntUpdateOrder').click(function() {       
        var list = '';
        $(".table tbody input[name='txtOrder']").each(function() {                   
            list += $(this).val()+'-'+$(this).attr('id')+',';
        });      
        
        $.ajax({
        type: "GET",
        async: true,
        url: "/api/category/updateMultil/"+list,        
        cache: true,
        dataType: "json",
            success: function (done) {                        
                if(done.status){ 
                    bootbox.alert("Cập nhật thứ tự thành công");
                    location.reload(true);
                }
            }
        });
    });
});
</script>
</body>
</html>