<!DOCTYPE html>
<html>
  <head>
    <% include ../../partials/backend/partialLink %>     
    <% include ../../partials/backend/partialCsript %>   
    <!-- <link rel="stylesheet" href="/jodit-3.3.8/jodit.min.css"/>
    <script src="/jodit-3.3.8/jodit.min.js"></script>       -->
  </head>
  <body> 
<% include ../../partials/backend/aside %> 
<div id="right-panel" class="right-panel">
<% include ../../partials/backend/header %>

<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Thêm mới quảng cáo</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="index">Trang chủ</a></li> 
                    <li><a href="/admin/advertisement/index">Danh sách quảng cáo</a></li>                 
                    <li class="active">Thêm mới quảng cáo</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="content mt-3">
    <div class="animated fadeIn">
         <div class="card">
                    <div class="card-header">
                <strong>Thêm mới quảng cáo</strong> 
            </div>
            <div class="card-body card-block">
            <% include ../../partials/backend/messages %>                       
                <form action="/admin/advertisement/add" method="post" enctype="multipart/form-data" class="form-horizontal form-validate" id="ud">                   
                    <div class="row form-group">
                        <div class="col col-md-3"><label class="form-control-label">Tên quảng cáo:</label></div>
                        <div class="col-12 col-md-9 mserro"><input type="text" id="Name" name="Name" placeholder="Nhập tên quảng cáo" class="form-control" data-rule-required="true"></div>
                    </div>         
                     <div class="row form-group">
                        <div class="col col-md-3"><label class=" form-control-label">Thứ tự</label></div>
                        <div class="col-12 col-md-9 mserro"><input type="text" id="order" name="order" placeholder="Nhập thứ tự sản phẩm" class="form-control" data-rule-required="true" data-rule-number="true"></div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3"><label class="form-control-label">link Url:</label></div>
                        <div class="col-12 col-md-9 mserro"><input type="text" id="linkUrl" name="linkUrl" placeholder="Nhập link cho ảnh quảng cáo" class="form-control" data-rule-required="true"></div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3"><label class="form-control-label">Link ngoài:</label></div>
                        <div class="col-12 col-md-9 mserro">
                            <div class="form-check">
                                <div class="checkbox">
                                    <label for="chkOutLink" class="form-check-label ">
                                        <input type="checkbox" id="viewType" name="viewType" class="form-check-input"> Link Ngoài
                                    </label>
                                </div>  
                            </div> 
                        </div>
                    </div>
                    <div class="row form-group" id="divLink" style="display: none;">
                        <div class="col col-md-3"><label class="form-control-label">link Ảnh:</label></div>
                        <div class="col-12 col-md-9 mserro"><input type="text" id="linkImage" name="linkImage" placeholder="Nhập đường dẫn ảnh" class="form-control" data-rule-required="true"></div>
                    </div>             
                    <div class="row form-group" id="divLocal">
                            <div class="col col-md-3"><label for="fileImg" class=" form-control-label">Chọn ảnh</label></div>
                            <div class="col-12 col-md-9 mserro"><input type="file" id="fileImg" name="fileImg" class="form-control-file" accept="image/*"></div>
                    </div>
                     <div class="row form-group">
                        <div class="col col-md-3"><label for="parent" class="form-control-label">Danh mục quảng cáo :</label></div>
                        <div class="col-12 col-md-9 mserro">
                        <select name="slCategory" id="slCategory" class="form-control" data-placeholder="Chọn mục quảng cáo..." multiple="multiple" data-rule-required="true">
                            <%- include('../../partials/backend/dropallTree', {items: catedata, level: 1, id_check: 1 }) %>                          
                        <select>
                        </div>
                    </div>                    
                    <div class="row form-group">
                        <div class="col col-md-3"><label class=" form-control-label">Mô tả:</label></div>
                        <div class="col-12 col-md-9 mserro"><textarea id="destination" name="destination"  placeholder="Nhập mô tả ngắn" class="form-control" rows="3" cols="50"></textarea></div>
                    </div>
                                    
                    <div class="row form-group">
                        <div class="col col-md-3"><label class=" form-control-label">Vị trí :</label></div>
                        <div class="col-12 col-md-9 mserro">
                        <select name="slOption" id="slOption" class="form-control"  multiple="multiple" data-placeholder="Chọn vị trí">
                            <option value="1">Home</option>
                            <option value="2">Left</option>
                            <option value="3">Right</option>
                            <option value="4">Bottom</option>
                        <select>
                        </div>
                    </div> 
                    <div class="row form-group">
                        <div class="col col-md-3"> &nbsp; </div>
                            <div class="col col-md-9">
                                <div class="form-check">
                                    <div class="checkbox">
                                        <label for="chkActive" class="form-check-label ">
                                            <input type="checkbox" id="chkActive" name="chkActive" class="form-check-input"> Active
                                        </label>
                                    </div>                                                                     
                                </div>
                            </div>
                        </div>
                         <div class="row form-group">
                        <div class="col col-md-3">&nbsp;</div>
                        <div class="col-12 col-md-9"><button type="submit" id="bntAdd" class="btn btn-primary btn-sm"><i class="fa fa-plus-square-o"></i> Thêm mới</button>
                        <a href="/admin/advertisement/index" class="btn btn-danger btn-sm"><i class="fa fa-reply"></i> Quay lại</a> </div>
                    </div> 
                    
                </form>
            </div>            
        </div>
    </div>
</div>

</div>

<script type="text/javascript">

    jQuery(document).ready(function($) {   
        
        $('#slCategory').select2();
        $("#slOption").select2({
            placeholder: 'Chọn các vị trí hiển thị',
            allowClear: true                          
        });

        $("#viewType").change(function () {
            if (this.checked){ 
                $('#divLink').show();
                $("#divLocal").hide();
                $("#divLink").removeAttr("disabled");                
            }
            else{ 
                $('#divLink').hide();
                $("#divLocal").show();
                $("#divLink").attr('disabled','disabled');
            }
        });
        
       
    });
</script>


</body>
</html>